services:
  app:
    build: .
    env_file:
      - .env
    environment:
      ELASTICSEARCH_URL: http://elasticsearch:9200
    depends_on:
      - elasticsearch
    ports:
      - "8501:8501"
    volumes:
      - ./data:/app/data
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.1.3
    mem_limit: 1g
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    volumes:
      - es-data:/usr/share/elasticsearch/data
volumes:
  es-data:
